.select {
  display: inline-flex;
  flex-direction: column;
  gap: 6px;
}

.select__label {
  font-weight: 700;
  font-size: 12px;
  color: #8a93ad;
  text-transform: uppercase;
}

.select__native {
  min-width: 190px;
  padding: 5px 12px;
  height: 33px;
  border-radius: 12px;
  border: 1px solid #dce1f0;
  background: #f7f8fd;
  font-size: 13px;
  color: #1c274c;
  line-height: 16px;
}

.select__native:focus {
  outline: 2px solid #cfd5ff;
  outline-offset: 0;
}

